# .env file
MINIO_ACCESS_KEY=your_secure_access_key
MINIO_SECRET_KEY=your_super_secret_password
MINIO_DEFAULT_BUCKETS=veer-uploads
DOMAIN_NAME=server.example.com #no http or https, just the domain name
