# .env file
MINIO_ACCESS_KEY=your_secure_access_key
MINIO_SECRET_KEY=your_super_secret_password
MINIO_DEFAULT_BUCKETS=veer-uploads
MINIO_SERVER_URL=your_server_url/x3
MINIO_BROWSER_REDIRECT_URL=your_server_url/x3x
